<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gama.sdk">

    <!--需要添加以下配置 start-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    !-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.NETWORK"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application>

        <activity
            android:name="com.gama.sdk.SWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Gama.Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity
            android:name="com.gama.pay.gp.GooglePayActivity2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Gama.Theme.AppCompat.Light.NoActionBar.FullScreen.Translucent"></activity>



        <!-- ==========================共同需要的配置============================ -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <!-- =======================4.x要配置=============================== -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/com_facebook_activity_theme" />
        <activity android:name="com.facebook.CustomTabMainActivity" />
        <!--
         The initialization ContentProvider will call FacebookSdk.sdkInitialize automatically
         with the application context. This config is merged in with the host app's manifest,
         but there can only be one provider with the same authority activated at any given
         point; so if the end user has two or more different apps that use Facebook SDK, only the
         first one will be able to use the provider. To work around this problem, we use the
         following placeholder in the authority to identify each host application as if it was
         a completely different provider.
        -->
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="${applicationId}.FacebookInitProvider"
            android:exported="false" />

        <!--<activity-->
        <!--android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"-->
        <!--android:screenOrientation="sensorLandscape"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->
        <!--<activity android:name="com.facebook.CustomTabMainActivity"-->
        <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"-->
        <!--android:screenOrientation="sensorLandscape"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />

        <!--如果要通过 Android 版 Facebook 应用分享链接、图片或视频，还需要在清单文件中声明 FacebookContentProvider-->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/facebook_authorities"
            android:exported="true" />

        <!--The AppsFlyer Install Receiver is first and will broadcast to all receivers placed below it-->
        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.gama.sdk.GamaBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.ads.conversiontracking.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!--play-services config start-->

        <!--<activity-->
        <!--android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:exported="false"-->
        <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"-->
        <!--android:screenOrientation="sensorLandscape"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--&lt;!&ndash;-->
        <!--Service handling Google Sign-In user revocation. For apps that do not integrate with-->
        <!--Google Sign-In, this service will never be started.-->
        <!--&ndash;&gt;-->
        <!--<service-->
        <!--android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"-->
        <!--android:exported="true"-->
        <!--android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" />-->

        <!--<activity-->
        <!--android:name="com.google.android.gms.common.api.GoogleApiActivity"-->
        <!--android:exported="false"-->
        <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"-->
        <!--android:screenOrientation="sensorLandscape"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--&lt;!&ndash;g+ login&ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->

        <!--play game services-->
        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_app_id" />

        <!--play-services config end-->

        <!--平台设置-->
        <activity android:name="com.gama.sdk.plat.PlatMainActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|fontScale"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Gama.Theme.AppCompat.Light.NoActionBar.FullScreen.Translucent" />

    </application>

    <!--需要添加以下配置 end-->

</manifest>