<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--需要添加以下配置 start-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
<!--    <uses-permission android:name="com.android.vending.BILLING" />-->
<!--    Apps targeting Android 13 should add the following permission to AndroidManifest.xml to access the Android Advertising Identifier-->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.NETWORK"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application>


    </application>

    <!--需要添加以下配置 end-->

</manifest>